Repository CSSSR/lorem-scriptum: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:style, yarn lint:js

.lintstagedrc:

{
  "*.css": ["yarn lint:style"],
  "*.js": ["yarn lint:js"]
}

feat: LS-124: add dev prod amo url
  .env.development
  .env.production
  src/scripts/applicationForm.js
Due: yarn lint:js

feat: LS-139: add application form aria label
  src/includes/applicationForm.njk
Due: none

fix: LS-95: makes fixes for safari 13
  src/assets/Hellen-Perezhogina.png
  src/assets/employeeContacts/golovin.webp
  src/assets/employeeContacts/golovin2x.png
  src/assets/employeeContacts/golovin2x.webp
  src/assets/employeeContacts/sekirkin.webp
  src/assets/employeeContacts/sekirkin2x.png
  src/assets/employeeContacts/sekirkin2x.webp
  src/assets/reviews/esther-tan.webp
  src/assets/reviews/esther-tan2x.jpg
  src/assets/reviews/esther-tan2x.webp
  src/data/applicationForm.json
  src/data/employeeContacts.json
  src/data/reviews.json
  src/includes/applicationForm.njk
  src/includes/employeeContacts.njk
  src/includes/ourServices.njk
  src/includes/reviews.njk
  src/styles/blocks/ourServices.css
Due: yarn lint:style

feat: LS-126: change footer
  src/data/footer.json
  src/includes/footer.njk
  src/styles/blocks/footer.css
Due: yarn lint:style

feat: LS-121: fonts refactoring
  src/styles/blocks/applicationForm.css
  src/styles/blocks/button.css
  src/styles/blocks/cookieBanner.css
  src/styles/blocks/employeeContacts.css
  src/styles/blocks/exampleProject.css
  src/styles/blocks/features.css
  src/styles/blocks/footer.css
  src/styles/blocks/header.css
  src/styles/blocks/input.css
  src/styles/blocks/mainPage.css
  src/styles/blocks/ourServices.css
  src/styles/blocks/reviews.css
  src/styles/blocks/techStack.css
  src/styles/scaffolding/base.css
  src/styles/scaffolding/variables.css
Due: yarn lint:style

chore: LS-120: optimizes images
  package.json
  src/assets/Hellen-Perezhogina.webp
  src/assets/Hellen-Perezhogina2x.png
  src/assets/Hellen-Perezhogina2x.webp
  src/assets/employeeContacts/golovin.webp
  src/assets/employeeContacts/golovin2x.webp
  src/assets/employeeContacts/sekirkin.webp
  src/assets/employeeContacts/sekirkin2x.webp
  src/assets/estimate-example.webp
  src/assets/estimate-example2x.png
  src/assets/estimate-example2x.webp
  src/assets/favicon.png
  src/assets/favicons/safari-pinned-tab.svg
  src/assets/hand.png
  src/assets/link-before.svg
  src/assets/logo.svg
  src/assets/reviews/esther-tan.webp
  src/assets/reviews/esther-tan2x.jpg
  src/assets/reviews/esther-tan2x.webp
  src/assets/services/cat-code.svg
  src/assets/services/cloud-dev-ops.svg
  src/assets/services/machine-learning.svg
  src/assets/services/project-manager.svg
  src/assets/services/quality-field.svg
  src/scripts/applicationForm.js
  src/scripts/cookieBanner.js
  yarn.lock
Due: yarn lint:js

fix: LS-109: fix typography
  src/data/applicationForm.json
  src/data/exampleProject.json
  src/includes/applicationForm.njk
  src/includes/exampleProject.njk
Due: none

fix: LS-141: fix our services title
  src/data/ourServices.json
Due: none

fix: LS-135: fix example project diagram
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

fix: LS-128: fix validate email message
  src/scripts/applicationForm.js
Due: yarn lint:js

feat: LS-120: replaces gulp to webpack
  .babelrc.js
  .eleventy.js
  .eslintignore
  .eslintrc.js
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-testing.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  Makefile
  gulpfile.js
  package.json
  postcss.config.js
  src/layouts/page.njk
  src/scripts/app.js
  src/scripts/applicationForm.js
  src/scripts/cookieBanner.js
  src/scripts/setCurrentYear.js
  src/styles/app.css
  src/styles/blocks/link.css
  src/styles/scaffolding/fonts.css
  webpack.config.js
  yarn.lock
Due: yarn lint:style, yarn lint:js

feat: LS-124: add dev prod amo url
  src/scripts/applicationForm.js
Due: yarn lint:js

feat: LS-129: fix diagram lines
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

fix: LS-106: fix diagram
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

fix: LS-134: tech stack item title
  src/styles/blocks/techStack.css
Due: yarn lint:style

fix: LS-130: fix our links services
  src/styles/blocks/ourServices.css
Due: yarn lint:style

fix: LS-127: add message validate
  src/scripts/applicationForm.js
Due: yarn lint:js

feat: LS-120: fix images paths
  src/assets/Hellen-Perezhogina.webp
  src/assets/Hellen-Perezhogina2x.webp
  src/assets/cat-code.svg
  src/assets/cloud-dev-ops.svg
  src/assets/employeeContacts/golovin.webp
  src/assets/employeeContacts/golovin2x.png
  src/assets/employeeContacts/golovin2x.webp
  src/assets/employeeContacts/sekirkin.webp
  src/assets/employeeContacts/sekirkin2x.png
  src/assets/employeeContacts/sekirkin2x.webp
  src/assets/esther-tan.webp
  src/assets/esther-tan2x.jpg
  src/assets/esther-tan2x.webp
  src/assets/estimate-example2x.webp
  src/assets/golovin.webp
  src/assets/golovin2x.png
  src/assets/golovin2x.webp
  src/assets/machine-learning.svg
  src/assets/project-manager.svg
  src/assets/quality-field.svg
  src/assets/reviews/esther-tan.webp
  src/assets/reviews/esther-tan2x.jpg
  src/assets/reviews/esther-tan2x.webp
  src/assets/sekirkin.webp
  src/assets/sekirkin2x.png
  src/assets/sekirkin2x.webp
  src/data/employeeContacts.json
  src/data/ourServices.json
  src/data/reviews.json
Due: none

fix: LS-138: fix warning validator
  src/data/ourServices.json
  src/includes/ourServices.njk
  src/includes/reviews.njk
  src/pages/index.njk
Due: none

fix: LS-132: fix image example project
  src/data/exampleProject.json
  src/includes/exampleProject.njk
Due: none

fix: LS-133: fix contacts avatar align
  src/includes/employeeContacts.njk
  src/styles/blocks/employeeContacts.css
Due: yarn lint:style

feat: LS-116: add share picture
  src/assets/share-picture.png
  src/layouts/page.njk
Due: none

perf: LS-92: changes to improve lighthouse metrics
  src/assets/sekirkin.webp
  src/assets/sekirkin2x.png
  src/assets/sekirkin2x.webp
  src/styles/blocks/button.css
  src/styles/blocks/footer.css
  src/styles/scaffolding/variables.css
Due: yarn lint:style

docs: LS-125: add README.md
  README.md
Due: none

feat: LS-143: chart alignment in example project
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

fix: LS-145: fix application form error message
  src/styles/blocks/applicationForm.css
Due: yarn lint:style

fix: LS-146: employee contacts ios gap
  src/styles/blocks/employeeContacts.css
Due: yarn lint:style

fix: LS-147: fix our services ios gap
  src/styles/blocks/ourServices.css
Due: yarn lint:style

feat: LS-140: add negative submit flow
  src/includes/applicationForm.njk
  src/scripts/applicationForm.js
  src/styles/blocks/applicationForm.css
Due: yarn lint:style, yarn lint:js

chore: LS-148: fix deploy add gzip and lint action
  .github/kuberta.yaml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-testing.yml
  .github/workflows/linters-check.yml
Due: none

fix: LS-152: fix example project diagram qa
  src/styles/blocks/exampleProject.css
Due: yarn lint:style
