Repository CSSSR/lorem-scriptum: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:style, yarn lint:js

feat: LS-121: fonts refactoring
  src/styles/blocks/applicationForm.css
  src/styles/blocks/button.css
  src/styles/blocks/cookieBanner.css
  src/styles/blocks/employeeContacts.css
  src/styles/blocks/exampleProject.css
  src/styles/blocks/features.css
  src/styles/blocks/footer.css
  src/styles/blocks/header.css
  src/styles/blocks/input.css
  src/styles/blocks/mainPage.css
  src/styles/blocks/ourServices.css
  src/styles/blocks/reviews.css
  src/styles/blocks/techStack.css
  src/styles/scaffolding/base.css
  src/styles/scaffolding/variables.css
Due: yarn lint:style

fix: LS-128: fix validate email message
  src/scripts/applicationForm.js
Due: yarn lint:js

feat: LS-129: fix diagram lines
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

fix: LS-130: fix our links services
  src/styles/blocks/ourServices.css
Due: yarn lint:style

fix: LS-131: fix employee contacts
  src/styles/blocks/employeeContacts.css
Due: yarn lint:style

fix: LS-132: fix image example project
  src/data/exampleProject.json
  src/includes/exampleProject.njk
Due: none

fix: LS-131: fix employee contacts tablet
  src/styles/blocks/employeeContacts.css
Due: yarn lint:style

feat: LS-124: add dev prod amo url
  .env.development
  .env.production
  src/scripts/applicationForm.js
Due: yarn lint:js

fix: LS-127: add message validate
  src/scripts/applicationForm.js
Due: yarn lint:js

fix: LS-134: tech stack item title
  src/styles/blocks/techStack.css
Due: yarn lint:style

fix: LS-135: fix example project diagram
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

feat: LS-124: add dev prod amo url
  src/scripts/applicationForm.js
Due: yarn lint:js

fix: LS-136: fix our services title
  src/includes/ourServices.njk
Due: none

fix: LS-133: fix contacts avatar align
  src/includes/employeeContacts.njk
  src/styles/blocks/employeeContacts.css
Due: yarn lint:style

fix: LS-138: fix warning validator
  src/data/ourServices.json
  src/includes/ourServices.njk
  src/includes/reviews.njk
  src/pages/index.njk
Due: none

feat: LS-139: add application form aria label
  src/includes/applicationForm.njk
Due: none

fix: LS-109: fix typography
  src/data/applicationForm.json
  src/data/exampleProject.json
  src/includes/applicationForm.njk
  src/includes/exampleProject.njk
Due: none

fix: LS-141: fix our services title
  src/data/ourServices.json
Due: none

fix: LS-134: fix blocks tech stack title
  src/styles/blocks/techStack.css
Due: yarn lint:style

feat: LS-116: add share picture
  src/assets/share-picture.png
  src/layouts/page.njk
Due: none

Path conditions:
  yarn lint:style: any of: *.css
  yarn lint:js: any of: *.js
