Repository CSSSR/lorem-scriptum: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:style, yarn lint:js

chore: deploy: add www redirect
  .github/workflows/deploy-production.yml
Due: none

fix: LS-147: fix our services ios gap
  src/styles/blocks/ourServices.css
Due: yarn lint:style

fix: LS-146: employee contacts ios gap
  src/styles/blocks/employeeContacts.css
Due: yarn lint:style

fix: LS-152: fix example project diagram qa
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

feat: LS-116: add share picture
  src/assets/share-picture.png
  src/layouts/page.njk
Due: none

feat: LS-143: chart alignment in example project
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

chore: LS-148: fix deploy add gzip and lint action
  .github/kuberta.yaml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-testing.yml
  .github/workflows/linters-check.yml
Due: none

feat: LS-140: add negative submit flow
  src/includes/applicationForm.njk
  src/scripts/applicationForm.js
  src/styles/blocks/applicationForm.css
Due: yarn lint:style, yarn lint:js

fix: LS-145: fix application form error message
  src/styles/blocks/applicationForm.css
Due: yarn lint:style

docs: LS-125: add README.md
  README.md
Due: none

perf: LS-92: changes to improve lighthouse metrics
  src/assets/sekirkin.webp
  src/assets/sekirkin2x.png
  src/assets/sekirkin2x.webp
  src/styles/blocks/button.css
  src/styles/blocks/footer.css
  src/styles/scaffolding/variables.css
Due: yarn lint:style

feat: LS-142: tabs chart demo
  src/data/demo.json
  src/includes/tabs.njk
  src/pages/index.njk
  src/scripts/app.js
  src/scripts/demoTabs.js
  src/styles/app.css
  src/styles/blocks/demo.css
Due: yarn lint:style, yarn lint:js

feat: LS-154: change link to behance and clutch
  src/data/footer.json
  src/data/ourServices.json
  src/data/reviews.json
Due: none

feat: LS-150: add diagram border
  src/includes/exampleProject.njk
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

fix: LS-155: fix diagram web desktop
  src/styles/blocks/exampleProject.css
Due: yarn lint:style

docs: LS-157: fix address in policies
  agreements/cookie-policy.md
  agreements/privacy-policy.md
Due: none

feat: LS-158: add not found page
  .github/kuberta.yaml
  .github/workflows/deploy-production.yml
  src/data/header.json
  src/data/notFound.json
  src/includes/header.njk
  src/includes/notFound.njk
  src/pages/404.njk
  src/pages/index.njk
  src/styles/app.css
  src/styles/blocks/header.css
  src/styles/blocks/mainPage.css
  src/styles/blocks/notFound.css
Due: yarn lint:style

fix: LS-160: pressed footer to bottom
  src/pages/404.njk
  src/styles/blocks/header.css
  src/styles/blocks/notFound.css
Due: yarn lint:style

fix: LS-161: fix not found page
  src/styles/blocks/notFound.css
Due: yarn lint:style

feat: LS-162: Added google tag manager
  src/data/googleTagManager.json
  src/includes/googleTagManager.njk
  src/includes/googleTagManagerNoScript.njk
  src/layouts/page.njk
Due: none

Path conditions:
  yarn lint:style: any of: *.css
  yarn lint:js: any of: *.js
